* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  font-size: 0.7rem;
}

li,
ul {
  list-style: none;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #666;
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

a,
body,
div,
img,
li,
ul {
  -webkit-touch-callout: none;
}

button,
input {
  outline: 0;
  border: 0;
}

body,
html {
  height: 100%;
  width: 100%;
}
